.idea
.idea_modules
*.iml
target/
project/target
_site/
Gemfile.lock
.lib
.DS_Store
sbt
.sbt-local
.history
.ensime
.ensime_cache/
sbt
sbt-launch.jar
repositories-truststore.jks
repositories
modules/playSample/
project/project/
credentials.sbt
example1.js
example2.js
example3.js
selenium/
