<h1>Person</h1>
<h2>Actual result</h2>

{{#original}}
    <table>
        <tr>
            <td>Status</td>
            <td>{{status}}</td>
        </tr>
        <tr>
            <td>Body</td>
            <td>{{body}}</td>
        </tr>
        <tr>
            <td>Headers</td>
            <td>{{>headers}}</td>
        </tr>
    </table>
{{/original}}


<div class="recordedCalls"><h1>Recorded Calls</h1>
    <table class="calls recordedCalls">
        {{#recorded}}
            <tr>
                <td>Request</td>
                <td>{{>request}}</td>
            </tr>
            <tr>
                <td>Response</td>
                <td>{{>response}}</td>
            </tr>
            <!--<tr><td colspan="2">&nbsp;</td></tr>-->
        {{/recorded}}
    </table>
</div>
<h2>Debug</h2>
{{{.}}}