{{#response}}
    Status Code = {{status}}<br />
    {{>headers}}
    {{#body}}Body is:  <pre class="json">{{.}}</pre>  <br/> {{/body}}
    {{#xingyi}}
        Code: {{code}}<br />
        Body:  <pre class="json">{{body}}</pre><br />
    {{/xingyi}}

{{/response}}