{{#response}}
    Status Code = {{status}}<br />
    {{>headers}}
    {{#body}}Body is:  {{{.}}} <br/> {{/body}}
    {{#jsonBody}}Body is:  <pre class="json">{{.}}</pre>  <br/> {{/jsonBody}}
    {{#xingyi}}<br />
        Code: <a href="{{code}}"> {{code}}</a><br />
        Body:  <pre class="json">{{body}}</pre><br />
    {{/xingyi}}

{{/response}}