<style>
    html {
        font-family: Arial, Helvetica, sans-serif;
        vertical-align: top;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    img {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 3px;
        padding-left: 3px;
    }

    div {
        position: relative;
        padding: 2px;
    }

    table {
        table-layout: fixed;
        background-color: #ffffff;
        position: relative;
        border-collapse: collapse;
        margin: 4px;
        padding: 0px;
        border: 0px;
        background-color: #ffffff;
    }

    td {
        vertical-align: top;
        margin: 2px;
        padding: 2px;
        border: 1px solid black;
    }

    .mainIcon {
        height: 80px;
    }

    .index {
        float: left;
    }

    .traceData {
        width: 75%;
        float: left;
    }

    .engine{
    }
    .decisiontree {
        padding-top: 10px;
        border: 1px solid black;
    }

    .decisionnode {
        padding-top: 10px;
        border: 1px solid black;
    }

    .conclusionnode {
        padding-top: 10px;
        border: 1px solid black;
    }

    .iftext {
        width: 35px;
        margin-top: -15px;
        /*margin-left: 5px;*/
        background: white;
        border: 1px solid black;
    }

    .thentext {
        width: 35px;
        margin-top: -5px;
        /*margin-left: 5px;*/
        background: white;
        border: 1px solid black;
    }

    .elsetext {
        width: 35px;
        margin-top: -5px;
        /*margin-left: 5px;*/
        background: white;
        border: 1px solid black;
    }

    .not_on_path {
        border: 1px solid gray;
    }

    .goes_through {
        border: 2px solid green;
    }

    .would_go_through {
        border: 2px solid orange;
    }

    .fails {
        border: 2px solid red;
    }

    .selected {
        border: 5px solid green;
    }

    .json {
        float: left;
        clear: both;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }

</style>