<div class="decisionnode {{node}}">
    {{#condition}}<div class="condition"><div class="iftext">IF</div>{{.}}</div>{{/condition}}{{defined}}
    {{#ifTrue}}<div class="iftrue{{node}}"><div class="thentext">THEN</div>{{>node}}</div><!-- if true-->{{/ifTrue}}
    {{#ifFalse}}<div class="iffalse{{node}}"><div class="elsetext">ELSE</div>{{>node}}</div><!-- if false-->{{/ifFalse}}
</div><!-- decisionnode -->
