<html>

<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    {{>css}}
    {{>prettyJsonScript}}
</head>
<body>
{{{body}}}

<pre><div class="json">{{{json}}}</div></pre>
</body>
</html>