{{#scenarioTitle}}<table><tr><th>Situation</th><th>Defined</th></tr>{{/scenarioTitle}}{{#scenarios}}{{>scenario}}{{/scenarios}}{{#scenarioTitle}}</table>{{/scenarioTitle}}
{{^scenarios}}No scenarios{{/scenarios}}